<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <p>Enter your email to reset password</p>
        <form method="POST">
            <input type="email" name="email" placeeholder="Enter email" required>
            <button type="sumbit">Reset Your Password</button>
        </form>
        <p>Remember Password?<a href="{{ url_for('login') }}">Back to login page</a></p>
    </div>
</body>

</html>