<!DOCTYPE html>
<html>

<head>
    <title>Reset password page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="conatiner">
        <h1>Reset Your Password</h1>
        <p>Forgot Password? Reset it here!</p>
        <form method="POST">
            <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="password" placeholder="Confirm Password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>

</html>